/**
	Nsilico Metagenomic Pipeline (NMP)
	Copyright (C) 2018 	Dr Bruno Andrade 	      
*/

manifest
{

  description = 'NMP : Nsilico Metagenomic Pipeline'
  mainScript = 'NMP.nf'
}

trace 
{
    enabled = true
    fields = 'task_id, name, status, exit, module, submit, start, complete, duration, realtime, %cpu, rss, vmem, peak_rss, peak_vmem'
}

timeline 
{
    enabled = true
}


params 
{
	//Mandatory arguments
	
	//Arguments for reads and sample date
	reads_R1 = "null"
	reads_R2 = "null"
	date = "null"
	//These are for version and help printing
	help = null
	version = null
	
	/---------------------------------
	 | 	Work Flow parameters	 |
	 ---------------------------------/	

	//Natively, this pipeline can deal with paired-end reads (two files, library="paired-end")
	//or single-end (one file, librarylayout="single-end")
	library = "paired-end"
				


	/---------------------------------
	 |        External files         |
	 ---------------------------------/
		
	//Adapter sequences and contaminants to be removed in the trimming step
	adapters="./Databases/adapters.fa"	
	artifacts="./Databases/sequencing_artifacts.fa.gz"
	phix174ill="./Databases/phix174_ill.ref.fa.gz"	
	
	//Reference for contamination. It should have been indexed with bbmap beforehand.
	RefGenome="./Reference/"
	
	//BowTie2 database for MetaPhlAn2
	mpa_pkl="./Databases/Metaphlan2_DB/mpa_v20_m200.pkl"
	bowtie2db="./Databases/Metaphlan2_DB/"
	bowtie2dbfiles="mpa_v20_m200"
	
	 
	
	/*--------------------------------*
	 *	SOFTWARE PARAMETERS
	 *--------------------------------*/

	//BBduk parameters for trimming	
	Pcoding=33 //Phred 33 (ASCII+33) or 64 (ASCII+64)
	kcontaminants = 23 //Kmer length used for finding contaminants	
	Quality = 28 //regions with average quality BELOW this threshold will be trimmed 
	minlength = 60 //reads shorter than this after trimming will be discarded
        mink = 11 //shorter kmers at read tips to look for 
	hdist = 1  //maximum Hamming distance for ref kmers            

	//BBwrap parameters for decontamination	
	mind = 0.95 //Approximate minimum alignment identity to look for
	maxindel = 3 //longest indel to look for
	bwr=0.16 //restrict alignment band to this
	
	//MetaPhlAn2 parameters 
	bt2options="very-sensitive" //presets options for BowTie2
}


process 
{
	//executor should be set to 'pbs' when a resource manager belonging to the 
	//PBS/Torque family of batch schedulers is used, or set to 'sge' when using  
	//a Sun Grid Engine cluster (or a compatible platform, e.g., Open Grid Engine)
	executor = 'local'
	
	//Set the used queue, this queue will be used for all the processes	
	queue = 'metagenome'
	
	
	$qualityAssessment
	{
		time =  '15m'
		cpus = 10
		memory = '30 GB'

	}
	
	$trim 
	{
		time =  '1h'
		cpus = 10
		memory = '30 GB'

	}	
	
	$decontaminate 
	{
		time =  '3h'
		cpus = 10
		memory = '30 GB'

	}
		
	$profileTaxa 
	{
		time =  '2h'
		cpus = 10
		memory = '30 GB'

	}
	
}
